<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.shans_000.vehicleguru1">

    <application
        android:allowBackup="true"
        android:icon="@drawable/b"
        android:label="Vehicle Guru"
        android:roundIcon="@drawable/b"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="Vehicle Guru">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Main2Activity">Depreciation Calculator</activity>
        <activity android:name=".Main3Activity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN3"/>
            <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>


        </activity>
    </application>

</manifest>